h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("https://thumbs.dreamstime.com/z/colored-pencil-paper-background-drawing-color-circle-colored-pencil-paper-background-drawing-color-circle-retro-98489006.jpg");
	background-position: center;
	background-size:cover;
}

#myCanvas{
	border-width:10px;
	background-color:white;
	border-style: ridge;
}